# 1. 변수

## 1) 벡터(Vector)
가장 기본이 되는 데이터 타입

### [1] 스칼라
스칼라는 벡터의 일종으로 한개의 값을 가진다.

In [11]:
x <- 1 # 숫자
print(class(x))
y <- 1.1 # 숫자
print(class(y))
# 소수와 정수 구분없이 numeric으로 분류

[1] "numeric"
[1] "numeric"

In [13]:
x <- "a" # 문자
print(class(x))
y <- "assss" # 문자열
print(class(y))
# 문자와 문자열 구분없이 character로 분류

[1] "character"
[1] "character"

In [14]:
x <- TRUE
print(class(x))
y <- T
print(class(y))
# TRUE,False 는 T,F로 사용할 수 있음, logical로 분류

[1] "logical"
[1] "logical"

In [23]:
x <- NA # 결측값
print(class(x))
print(x)

[1] "logical"
[1] NA

In [25]:
x <- NULL # NULL값
print(class(x))
print(x)

[1] "NULL"
NULL

NA 값은 결측값으로 값이 존재하지 않을 때 사용  
NULL은 변수가 존재하지 않을 때 사용 -> NA는 변수는 존재하는데 값이 존재하지 않는다.(vector, list등의 변수의 일부에 포함된다.)

### [2] 벡터

In [16]:
# numeric 변수
x <- c(1,2,3) # c()로 여러개의 값을 가지는 벡터를 생성
print(class(x))
print(x)

[1] "numeric"
[1] 1 2 3

In [27]:
x <- c(1.1, 2, 3) # 소수와 정수를 같이 묶어 벡터를 생성
print(class(x))
print(x) # 값이 소수로 나타난다.

[1] "numeric"
[1] 1.1 2.0 3.0

In [30]:
x <- c("test", 1, 1.2, TRUE) # 문자, 숫자, 진리값이 같이 묶어 벡터를 생성
print(class(x))
print(x) # character로 생성된다.

[1] "character"
[1] "test" "1"    "1.2"  "TRUE"

In [33]:
x <- c(1.1, 1, TRUE) # 숫자, 진리값을 같이 묶어 벡터를 생성
print(class(x))
print(x) # 숫자(실수)로 생성된다.

[1] "numeric"
[1] 1.1 1.0 1.0

[우선순위]  
character > numeric(float) > numeric(int) > logical

In [34]:
x <- vector(length=10, mode='logical') # 빈 벡터 생성(logical)
print(class(x))
print(x) # FALSE로 생성된다.

[1] "logical"
 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [35]:
x <- vector(length=10, mode='numeric') # 빈 벡터 생성(numeric)
print(class(x))
print(x) # 0으로 생성된다.(int)

[1] "numeric"
 [1] 0 0 0 0 0 0 0 0 0 0

In [37]:
x <- vector(length=10, mode='character') # 빈 벡터 생성(character)
print(class(x))
print(x) # ""로 생성된다.

[1] "character"
 [1] "" "" "" "" "" "" "" "" "" ""

[빈 벡터 생성]  
logical -> FALSE로 생성  
numeric -> 0으로 생성  
character -> ""로 생성

In [38]:
x <- c(1,2,3)
x <- as.double(x) # 소수로 강제 변경
print(class(x))
print(x) # numeric으로 변경에 변화가 없다.

[1] "numeric"
[1] 1 2 3

In [40]:
x <- c(1.1, 2.3, 5.6)
x <- as.integer(x) # 정수로 강제 변경
print(class(x))
print(x) # class가 integer로 변경되며 소수점 아래를 버린다.

[1] "integer"
[1] 1 2 5

In [43]:
x <- c("TRUE", "FALSE", "", "1", "2.3", "A")
x <- as.numeric(x) # 숫자로 변경
print(class(x))
print(x) # 숫자인 문자외에는 NA값으로 변경

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] "numeric"
[1]  NA  NA  NA 1.0 2.3  NA

In [45]:
x <- c(TRUE, FALSE, NA)
x <- as.numeric(x) # 숫자로 변경
print(class(x))
print(x) # NA는 NA, FALSE는 0, TRUE는 1로 변경

[1] "numeric"
[1]  1  0 NA

[숫자로 변경]  
\<logical\>  
- TRUE -> 1  
- FALSE -> 0  
- NA -> NA

\<character\>  
- 일반 문자 -> NA  
- 숫자인 문자 -> 숫자

In [41]:
x <- c(1,2,3,0,-2,-3)
x <- as.logical(x) # logical로 변경
print(class(x))
print(x) # 0이 아닌 값은 TRUE, 0은 FALSE로 변경된다.

[1] "logical"
[1]  TRUE  TRUE  TRUE FALSE  TRUE  TRUE

In [42]:
x <- c("a", "b", "", "-1")
x <- as.logical(x) # logical로 변경
print(class(x))
print(x) # 모든 값이 NA로 변경된다.

[1] "logical"
[1] NA NA NA NA

[logical로 변환]  
/< numeric />
- 0 -> FALSE
- 그외 -> TRUE

\< character \>
- 모든 문자 -> NA

In [47]:
x <- c(1,2,3)
x <- as.character(x) # 문자로 변환
print(class(x))
print(x)

[1] "character"
[1] "1" "2" "3"

In [48]:
x <- c(TRUE, FALSE)
x <- as.character(x)
print(class(x))
print(x)

[1] "character"
[1] "TRUE"  "FALSE"

[character로 변환]
- 모든 값 -> 문자열

## 2) 요인(Factor)  
범주형 변수(Categorical) 변수를 위한 데이터 타입

In [1]:
x <- c("male", "female", "female", "male")
x <- factor(x) # factor로 변환
print(class(x))
print(x)

[1] "factor"
[1] male   female female male
Levels: female male

벡터와 달리 levels이 생긴다.

In [4]:
print(as.vector(x)) # vector로 변환
# 문자열로 생성
print(as.numeric(x)) # numeric으로 변환
# levels에 따라 숫자를 부여(female -> 1, male ->2)

[1] "male"   "female" "female" "male"
[1] 2 1 1 2

In [9]:
x <- c("male", "female", "female", "male")
fx <- factor(x, levels=c("male", "female")) # levels를 생성
print(fx)
print(as.numeric(fx)) # level에 따라 숫자가 변경

[1] male   female female male
Levels: male female
[1] 1 2 2 1

In [10]:
fx <- factor(x, levels=c("none", "male", "female")) # 값이 존재하지 않는 level를 설정
print(fx) # 존재하지 않는 값에 대한 level도 설정 가능

[1] male   female female male
Levels: none male female

In [11]:
fx <- factor(x, levels=c("none", "male")) # female의 level를 누락
print(fx) # female이 NA로 대체

[1] male <NA> <NA> male
Levels: none male

In [13]:
fx <- factor(x , labels=c('a', 'b')) # labels를 설정
print(fx) # male->b, female->a

[1] b a a b
Levels: a b

In [14]:
fx <- factor(x, labels=c("a","b","c")) # labels를 level보다 많이 설정
print(fx) # 에러 발생

ERROR: Error in factor(x, labels = c("a", "b", "c")): invalid 'labels'; length 3 should be 1 or 2

In [15]:
fx <- factor(x, labels=c("a")) # labels를 level보다 적게 설정
print(fx) # level에 숫자에 맞춰 label를 생성

[1] a2 a1 a1 a2
Levels: a1 a2

In [16]:
x <- c("1", "2", "2", "3", "3") # 3개의 범주를 가지는 벡터
fx <- factor(x, labels=c("a","b")) # level보다 적게 labels를 생성
print(fx) # 에러 발생

ERROR: Error in factor(x, labels = c("a", "b")): invalid 'labels'; length 2 should be 1 or 3

In [18]:
fx <- factor(x, levels=c("2", "3", "1"), labels=c("a", "b", "c")) # labels과 levels를 모두 설정
print(fx) # 1->c, 2->a, 3->b로 변경
# levels이 먼저 설정되고 labels이 설정된다.

[1] c a a b b
Levels: a b c

In [23]:
print(levels(fx)) # factor의 levels를 출력

[1] "a" "b" "c"
[1] "1" "2" "3" "4" "5"

In [24]:
levels(fx) <- c("o1", "o2", "o3") # factor의 levels를 변경
print(fx) # factor생성시 labels를 변경하는 것과 동일

[1] o3 o1 o1 o2 o2
Levels: o1 o2 o3

In [25]:
x <- c(1,2,3,3,2,3) # 숫자
print(factor(x))

[1] 1 2 3 3 2 3
Levels: 1 2 3

In [27]:
x <- c(TRUE, FALSE, TRUE) # logical
print(factor(x)) # False, TRUE순으로 levels부여

[1] TRUE  FALSE TRUE
Levels: FALSE TRUE

In [30]:
x <- c("A", "B", "A", NA, NULL, "C") 
print(x) # NULL은 값으로 사용되지 않는다.
print(factor(x)) # NA는 level로 생성되지 않는다.

[1] "A" "B" "A" NA  "C"
[1] A    B    A    <NA> C
Levels: A B C

In [45]:
print(factor(x, ordered=TRUE)) # levels에 크기를 표시한다.

[1] A    B    A    <NA> C
Levels: A < B < C

## 3) 행렬(Matrix) & 배열(Array)

### [1] 행렬(Matrix)
벡터(vector)에 행(row)와 열(col)을 추가한 데이터 타입